<h1 style="padding-top: 100px; text-align: center"></h1>
<div class="form-container" *ngIf="foundRow">
  <form class="form" (ngSubmit)="onSubmit()">
    <h2>Plant Details</h2>
    <div class="input-group">
      <label>Date:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.Date"
        name="date"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Plant ID:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.plantID"
        name="plantId"
        disabled
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Plant Name:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.PlantName"
        name="plantName"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Age:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.Age"
        name="age"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Segment:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.Segment"
        name="segment"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Terrace ID:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.TerraceID"
        name="terraceId"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>GPS Coordinate:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.GPSCoordinate"
        name="gpsCoordinate"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>To Be Fertilised:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.ToBeFertilised"
        name="toBeFertilised"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>To Be Watered:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.ToBeWatered"
        name="toBeWatered"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>To Be Cleaned:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.ToBeCleaned"
        name="toBeCleaned"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Fruiting Stage:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.FruitingStage"
        name="fruitingStage"
        class="bright-input"
      />
    </div>
    <div class="input-group">
      <label>Remarks:</label>
      <input
        type="text"
        [(ngModel)]="foundRow.Remarks"
        name="remarks"
        class="bright-input"
      />
    </div>
    <button type="submit" class="submit-btn">Submit</button>
  </form>
</div>
<div class="no-data" *ngIf="!foundRow">
  <p>No data found for the given plant ID.</p>

  <a routerLink="/append-plant" routerLinkActive="active">
    <button
      style="width: auto; margin-bottom: 50px"
      class="button-31"
      role="button"
    >
      Click to append new Record!
    </button>
  </a>
</div>
<router-outlet></router-outlet>
