<nav class="navbar" [ngClass]="{ hidden: isNavbarHidden }">
  <div class="navbar-container">
    <div style="font-size: 20px; font-weight: bolder" class="brand">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          src="../../assets/gabyProfile.jpeg"
          alt="Gabrimol Icon"
          class="brand-icon"
        />
      </a>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="no-underline-link"
        >Gabrimol</a
      >
    </div>
    <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li class="nav-item">
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/all-plant-details" routerLinkActive="active"
          >All Records</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/append-plant" routerLinkActive="active"
          >Append a Record</a
        >
      </li>
      <li class="search input-item">
        <input
          type="text"
          [(ngModel)]="plantId"
          placeholder="Enter Plant ID"
          (keydown.enter)="searchPlant()"
        />
        <button (click)="searchPlant()">
          <i class="fa fa-search"></i>
        </button>
      </li>
    </ul>
    <div class="hamburger-menu" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
