.brand {
  display: flex;
  align-items: center;
}

.brand-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafc;
  padding: 10px 0;
  z-index: 1000;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 17px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  font-size: large;
  font-weight: bolder;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  padding: 5px;
  margin-top: 5px;
}

.nav-item a {
  color: black;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fafafc;
    padding: 10px 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}

.hidden {
  display: none;
}

.search input {
  margin-top: 5px;
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #333; /* Assuming text color */
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.search button {
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.search button i {
  color: black;
}
