.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-radius: 40px;
  border-collapse: collapse;
  border: 2px solid #54b435;
  background-color: white;
  color: black;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #54b435;
  border-right: 1px solid #54b435;
  color: black;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.blue-heading {
  color: blue;
}

::ng-deep .mat-header-cell {
  background-color: #54b435;
  color: white;
  font-size: large;
  font-weight: bold;
}

tr:hover {
  background-color: #e0f7e0;
}

@media screen and (max-width: 600px) {
  th,
  td {
    font-size: 12px;
    padding: 4px;
  }
}

.headline {
  font-size: 30px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-spinner {
  width: 50px;
  height: 50px;
}
