.content-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.text-container {
  flex: 1;
  padding: 10%;
}

.image-container {
  /* flex: 1; */
  margin-left: 20px; /* Adjust margin as needed */
}

.rounded-image {
  margin-top: 90px;
  margin-bottom: 20px;
  border-radius: 10px; /* Adjust border-radius as needed */
  max-height: 500px; /* Ensure image does not exceed container width */
  width: auto; /* Maintain aspect ratio */
}

.parallax-container {
  position: relative;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10%;
  margin-top: 100px;
}

.parallax-image {
  background-image: url("../../assets/Gaby.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
  text-align: center;
}

.welcome-para {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
  font-size: 20px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: justify;
  text-indent: 10%;
}

.about-us {
  /* max-width: 1000px;
  margin: 50px auto; */
  padding: 5%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.about-us h1 {
  font-size: 2.5em;
  color: #4caf50;
}
.about-us p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 20px 0;
}
.about-us .highlight {
  color: #ff6347;
}
.about-us .emoji {
  font-size: 1.5em;
}
.headline {
  font-size: 50px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding-left: 10%;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 30px; /* Adjust the font size for smaller screens */
  }
}
.widget-container {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.widget {
  position: relative;
  margin: 10px;
  width: 250px; /* Fixed width */
  height: 400px; /* Fixed height */
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Ensure content doesn't overflow the border radius */
}

.widget::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
  z-index: 1;
  border-radius: 10px; /* Match the border radius of the widget */
}

.view-all {
  background-image: url("../../assets/leaf.jpeg");
}

.modify-records {
  background-image: url("../../assets/dad.jpeg");
}

.append-records {
  background-image: url("../../assets/tree.jpeg");
}

.search-by-plant-id {
  background-image: url("../../assets/anbu.jpeg");
}

.widget .custom-h2 {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none !important;
  padding-top: 10%;
  padding-left: 3%;
  text-align: left;
  font-size: 20px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

@media (max-width: 768px) {
  .widget {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .widget {
    width: calc(100% - 20px);
  }
}

a.no-underline-link {
  text-decoration: none;
  color: inherit;
}

a.no-underline-link:hover,
a.no-underline-link:focus,
a.no-underline-link:active {
  text-decoration: none;
  color: inherit;
}
