<div class="parallax-container" (scroll)="onScroll($event)">
  <div class="parallax-image"></div>
</div>
<div style="background-color: #e8dfca" class="about-us">
  <h1>
    Welcome to Gaby's NextGen Plant Inventory Application!
    <span class="emoji">🌿</span>
  </h1>
  <p>
    At Gaby's, we believe in making plant inventory management as delightful and
    breezy as a walk through a botanical garden. Our platform offers a
    comprehensive solution that lets you manage your plant collection with
    <span class="highlight">ease and efficiency</span>.
  </p>
  <p>
    Whether you're a botanist, a green-thumbed gardener, or just someone who
    adores plants, our app is designed with
    <span class="highlight">you</span> in mind. With just a few taps, you can
    effortlessly browse through all existing plant records, update them, add new
    plants, and view detailed information on specific plants. It's like having
    your very own digital greenhouse at your fingertips!
  </p>
  <p>
    Our mission is to make plant management not only simple but also enjoyable.
    We understand the passion and dedication that goes into caring for plants,
    and we aim to support that with tools that are intuitive and fun to use.
  </p>
  <p>
    Join us in making plant management fun and hassle-free. Experience the
    convenience and magic of Gaby's NextGen Plant Inventory Application today.
    Let’s grow together! <span class="emoji">🌱💚</span>
  </p>
</div>
<br /><br /><br /><br />
<h2 class="headline">Key Features.</h2>
<div class="widget-container">
  <a
    routerLink="/all-plant-details"
    routerLinkActive="active"
    class="no-underline-link"
  >
    <div class="widget view-all">
      <h2 class="custom-h2">View All Records.</h2>
    </div>
  </a>

  <a (click)="navigateToModifyRecords()">
    <div class="widget modify-records">
      <h2 class="custom-h2">Modify Records.</h2>
    </div>
  </a>

  <a
    routerLink="/append-plant"
    routerLinkActive="active"
    class="no-underline-link"
  >
    <div class="widget append-records">
      <h2 class="custom-h2">Append Records.</h2>
    </div>
  </a>

  <a (click)="navigateToSearch()">
    <div class="widget search-by-plant-id">
      <h2 class="custom-h2">Search via PlantID.</h2>
    </div>
  </a>
</div>

<br /><br /><br />
<router-outlet></router-outlet>
